go 1.25.0

use (
	./common
	./services/api-gateway
	./services/auth-service
	./services/calendar-service
	./services/example-service
	./services/insights-service
	./services/orchestrator-service
	./services/plan-service
)
